.div1{
	height: 300px;
	width: 300px;
	margin: solid red;
	float: left;

}
.div2{
	height: 300px;
	width: 300px;
	margin: solid red;
	float: left;

}
.div3{
	height: 300px;
	width: 300px;
	margin: solid red;
	float: right;
}